
@{
}
@model List<Kurs>

<div class="text-end">
    <a href="/Kurs/Ekle" class="btn btn-primary">Ekle</a>
</div>

<div class="card mt-3">
    <div class="card-header">
        Kurslar
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>Kurs Adı</th>
                <th>Kapasite</th>
                <th>Ders Id</th>
            </tr>
            @foreach (var KursDers in Model)
            {
                <tr>
                    <td>@KursDers.GrupKodu</td>
                    <td>@KursDers.Kapasite</td>
                    <td>@KursDers.DersId</td>
                    <td>
                        <b><a href="/Kurs/Detay/@KursDers.Id" class="btn btn-outline-success">Detay</a></b>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>